-- vim: ft=ttstar

  let
    constructor Z : Nat
    constructor S : (n) -> Nat
    constructor VNil : Vec
    constructor VCons : (xs) -> Vec
    vlen 
      vlen VNil = Z
      vlen (VCons xs) = S (vlen xs)
    testVec = VCons (VCons VNil)
    main = vlen testVec
  in main
