-- vim: ft=ttstar

  let
    postulate Tuple : (x) -> (y) -> (z) -> (w) -> Type
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    constructor Mool : Type
    constructor Q : Mool
    constructor W : Mool
    f 
      f T = Bool
      f F = Mool
      f Q = Bool
      f W = Mool
    main = Tuple (f T) (f F) (f Q) (f W)
  in main
