-- vim: ft=ttstar

  let
    constructor True : Bool
    constructor False : Bool
    constructor Z : Nat
    constructor S : (_x0) -> Nat
    constructor Even : Tag
    constructor Odd : Tag
    fun = 
      let
        even 
          even Z = True
          even (S n) = fun Odd n
        odd 
          odd Z = False
          odd (S m) = fun Even m
      in (\tag. 
        let f 
          f Even = even
          f Odd = odd
        in f tag)
    even = fun Even
    main = even 8
  in main
