-- vim: ft=ttstar

  let
    constructor N : Type
    constructor Z : N
    constructor S : (_x0) -> N
    constructor Fin : (_x1) -> Type
    constructor FZ : (n) -> Fin (S n)
    constructor FS : (n) -> (x) -> Fin (S n)
    embed 
      [_] [_] (FZ n) = FZ (S n)
      [_] [_] (FS n x) = FS (S n) (embed n x)
    fsuc = FS
    constructor Pair : Type
    constructor P : (x) -> (y) -> Pair
    main = P (fsuc 2 (FS 1 (FZ Z))) (embed 3 (FS 2 (FS 1 (FZ Z))))
  in main
