-- vim: ft=ttstar

  let
    constructor Q : Mool
    constructor W : Mool
    constructor T : Bool
    constructor F : Bool
    not 
      not T = F
      not F = T
    mot 
      mot Q = W
      mot W = Q
    invert 
      invert T = not
      invert F = mot
    main = invert F Q
  in main
