-- vim: ft=ttstar

  let
    constructor T : Bool
    constructor F : Bool
    constructor TB : (x) -> (y) -> TwoBools
    constT = T
    f 
      [_] T = (\x. x)
      [_] F = constT
    main = TB (f T F) (f F)
  in main
