-- vim: ft=ttstar

  let
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    constructor TwoBools : Type
    constructor TB : (x) -> (y) -> TwoBools
    id = (\x. x)
    constT = (\_0. T)
    fty 
      fty T = (_x3) -> Bool
      fty F = (_x4) -> Bool
    f 
      f T = id
      f F = constT
    main = TB (f T F) (f F F)
  in main
