-- vim: ft=ttstar

  let
    constructor T : Bool
    constructor F : Bool
    constructor P : (x) -> (y) -> Pair
    fst 
      fst ([_] l r) = l
    snd 
      snd ([_] l r) = r
    and 
      and T y = y
      and F y = F
    main = and (fst (P T F)) (snd (P F T))
  in main
