-- vim: ft=ttstar
  let
    constructor T : Bool
    constructor F : Bool
    constructor P : (x) -> (y) -> Pair
    fst 
      [_] ([_] l _) = l
    snd 
      [_] ([_] _ r) = r
    and 
      [_] T y = y
      [_] F _ = F
    main = and (fst (P T F)) (snd (P F T))
  in main
