-- vim: ft=ttstar

  let
    constructor Z : Nat
    constructor S : (x) -> Nat
    plus 
      [_] Z m = m
      [_] (S n) m = S (plus n m)
    const = (\x. (\y. x))
    main = 
      let
        apply 
          [_] f Z = f Z
          [_] f (S x) = f (S x)
        postulate Q : Nat
        three = 3
      in plus (apply (\x. x) 2) (apply (const Q) three)
  in main
