-- vim: ft=ttstar
  let
    constructor Nat : Type
    constructor Z : Nat
    constructor S : (x) -> Nat
    plus 
      [_] Z m = m
      [_] (S n) m = S (plus n m)
    id = (\x. x)
    const = (\x. (\y. x))
    main = 
      let apply 
        [_] f Z = f Z
        [_] f (S x) = f (S x)
      in 
        let
          postulate Q : Nat
          three = 3
        in plus (apply id 2) (apply (const Q) three)
  in main
