-- vim: ft=ttstar

  let
    constructor Just : (x) -> Maybe
    constructor Nothing : Maybe
    constructor Bool : Type
    constructor False : Bool
    f 
      f (Just b) = b
      f Nothing = Bool
    main = f (Just False)
  in main
