-- vim: ft=ttstar

  let
    postulate Void : Type
    constructor Maybe : (_x0) -> Type
    constructor Just : (a) -> (x) -> Maybe a
    constructor Nothing : (a) -> Maybe a
    constructor Bool : Type
    constructor True : Bool
    constructor False : Bool
    retTy 
      retTy (Just [_] t) = Bool
      retTy (Nothing [_]) = Type
    f 
      f (Just [_] b) = b
      f (Nothing [_]) = Bool
    main = f (Just Bool False)
  in main
