-- vim: ft=ttstar

  let
    constructor T : Bool
    constructor F : Bool
    constructor MkUnit : Unit
    not 
      [_] T = F
      [_] F = T
    main = not 
      let f 
        [_] F MkUnit = MkUnit
        [_] T T = F
        [_] T F = T
      in f (not F) T
  in main
