-- vim: ft=ttstar

  let
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    constructor Unit : Type
    constructor MkUnit : Unit
    not 
      [_] T = F
      [_] F = T
    retTy 
      [_] T = Bool
      [_] F = Unit
    main = not 
      let f 
        [_] F MkUnit = MkUnit
        [_] T T = F
        [_] T F = T
      in f (not F) T
  in main
