-- vim: ft=ttstar

  let
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    constructor Unit : Type
    constructor MkUnit : Unit
    not 
      [_] T = F
      [_] F = T
    retTy 
      [_] T = Bool
      [_] F = Unit
    main = not 
      let f 
        [_] F = MkUnit
        [_] T = F
      in f (not F)
  in main
