-- vim: ft=ttstar

  let
    constructor Z : Nat
    constructor S : (x) -> Nat
    constructor True : Bool
    constructor False : Bool
    even 
      [_] Z = True
      [_] (S n) = 
        let odd 
          [_] Z = False
          [_] (S n) = even n
        in odd n
    main = even 5
  in main
