-- vim: ft=idris

data Bool : Type where
  T : Bool,
  F : Bool.

data Unit : Type where
  MkUnit : Unit.

not (x : Bool) : Bool
  = case x of
      T => F,
      F => T.

retTy (x : Bool) : Type
  = case x of
      T => Bool,
      F => Unit.

main : Bool
  = not (
      case not F with f : (x : Bool) -> retTy x.
        F => MkUnit,
        T => F
    ).
