-- vim: ft=ttstar

data Bool : Type where
  T : Bool
  F : Bool

data Unit : Type where
  MkUnit : Unit

not : Bool -> Bool
not T = F
not F = T

retTy : Bool -> Type
retTy T = Bool
retTy F = Unit

other : Bool
  = not
      case not F, T of
        T, F = T
        T, T = F
        forall x.
          F, x = x

main : Bool
  = not
      case not F, T with
        f : (x : Bool) -> retTy x -> retTy x
        f F MkUnit = MkUnit
        f T T      = F
        f T F      = other
