-- vim: ft=idris

data N : Type where
  Z : N,
  S : N -> N.

data B : Type where
  T : B,
  F : B.

isSuc : N -> B.
  (n : N)
    isSuc (S n) = T,
  (n : N)
    isSuc n = F.

-- TTstar says that the NF of main is (\x. F),
-- which is incorrect.
main : N -> B = \x : N. isSuc x.
