-- vim: ft=idris

data Bool : Type where
  T : Bool,
  F : Bool.

data Unit : Type where
  MkUnit : Unit.

not (x : Bool) : Unit
  = case x of {
      T => MkUnit,
      F => MkUnit
    }

main : Unit = not T.
