-- vim: ft=idris

data N : Type.
  Z : N,
  S : N -> N.

plus (m : N) (n : N) : N
  = case f m.
      f : N -> N.
      f Z = n,
      pat (m : N).
        f (S m) = S (plus m n).
  .

main :R: N
  = let
      id : N -> N.
        pat (x : N).
          id x = x.
    in plus (id 3) (id 4).
