-- vim: ft=idris

data Bool : Type where
  T : Bool,
  F : Bool.

data TwoBools : Type where
  TB : (x :R: Bool) -> (y :R: Bool) -> TwoBools.

id (x : Bool) : Bool = x.

constT (_ : Bool) : Bool = T.

fty (x : Bool) : Type
  = case x of
      T => Bool -> Bool,
      F => Bool -> Bool.

f (x : Bool) : fty x
  = case x of
      T => id,
      F => constT.

main : TwoBools
  = TB (f T F) (f F F).
