
  let
    postulate A : T
    postulate B : T
    postulate Op : (x) -> (y) -> T
    id = (\y. y)
    constA = A
    apply_REE = (\f. f)
    apply_RRR = (\f. (\x. f x))
    test1 = apply_RRR id B
    test2 = apply_REE constA
    main = Op test1 test2
  in main
