-- vim: ft=idris

postulate T : Type.
postulate A : T.
postulate B : T.
postulate Op : (x :R: T) -> (y :R: T) -> T.

id : T -> T.
  pat (y : T).
    id y = y.

constA : T -> T.
  pat (x : T).
    constA x = A.

apply : (T -> T) -> T -> T.
  pat (f : T -> T) (x : T).
    apply f x = f x.

test1 : T.
  test1 = [apply : (T -> T) -> T -> T] id B.

test2 : T.
  test2 = [apply : (T -> T) -> T -> T] constA B.

main :R: T.
  main = Op test1 test2.
