-- vim: ft=idris

data Bool : Type where
  T : Bool,
  F : Bool.

data Id : (a : Type) -> (x : a) -> (y : a) -> Type where
  Refl : (a : Type) -> (x : a) -> Id a x x.

not (x : Bool) : Bool
  = case x of
      T => F,
      F => T.

notnot (x : Bool) : Id Bool x (not (not x))
  = case x of
      T => Refl Bool T,
      F => Refl Bool F.

main : Id Bool F (not (not F)) = notnot F.
