-- vim: ft=ttstar

import "../stdlib/prelude.tt"
import "../stdlib/state.tt"
import "../stdlib/io.tt"
import "../stdlib/rts.tt"

main \: Unspec =
  unsafePerformIO Unspec (
    ioBind Nat Unspec (ioReturn Nat 4) (\v:Nat.
      ioBind Unspec Unspec (printNat v) (\_:Unspec.
        printSchemeRepr Nat (intToNat (intS (intS (intS intZ)))))))
