-- vim: ft=ttstar

import "../stdlib/prelude.tt"
import "../stdlib/state.tt"
import "../stdlib/io.tt"
import "../stdlib/rts.tt"

main \: _ =
  unsafePerformIO _
   (with ioBind _ _ do
      v <- ioReturn _ 4
      printNat v
      printSchemeRepr _ (intToNat (intS (intS (intS intZ))))
    )
