-- vim: ft=idris

import "../stdlib/io.tt"
import "../stdlib/prelude.tt"
import "../stdlib/rts.tt"

main \: Unspec =
  runIO Unspec (
    ioBind Unspec Unspec (printNat 4) (\_:Unspec.
        printSchemeRepr Nat (intToNat (intS (intS (intS intZ))))))
