-- vim: ft=idris

data Bool : Type where
  T : Bool,
  F : Bool.

g (x : Bool) : Bool
  = case x of
      T => h x,
      F => T.

h (x : Bool) : Bool
  = case x of
      F => g x,
      T => F.

main : Bool = g T.
