-- vim: ft=idris

data Bool : Type where
  T : Bool,
  F : Bool.

data Pair : Type where
  P : (x : Bool) -> (y : Bool) -> Pair.

fst : Pair -> Bool.
  (l : Bool) (r : Bool)
    fst (P l r) = l.

snd : Pair -> Bool.
  (l : Bool) (r : Bool)
    snd (P l r) = r.

and : Bool -> Bool -> Bool.
  (y : Bool)
    and T y = y,
  (y : Bool)
    and F y = F.

main : Bool
    = and (fst (P T F)) (snd (P F T)).
