-- vim: ft=idris

postulate T : Type.
postulate A : T.
postulate B : T.

const_A : (x : T) -> T = \_ : T. A.
apply : (f : (x : T) -> T) -> (x : T) -> T = \f : T -> T. \x : T. f x.

main :R: T = apply const_A B.
