-- vim: ft=idris

data Bool : Type where
  T : Bool,
  F : Bool.

data Pair : Type where
  P : Bool -> Bool -> Pair.

fst (x : (_ : Bool) -> Pair) : Bool
  = case x of
      P (y : Bool) => y.

main : Bool = fst (P T).
