-- vim: ft=ttstar

data Bool : Type where
  T : Bool,
  F : Bool.

data Pair : Type where
  P : Bool -> Bool -> Pair.

fst : (Bool -> Pair) -> Bool.
  (y : Bool)
    fst (P y) = y.

main : Bool = fst (P T).
