-- vim: ft=idris

postulate Id : (A : *) -> A -> A -> *.
postulate Refl : (A : *) -> (x : A) -> Id A x x.

subst : (A : *) -> (P : A -> *) -> (x : A) -> (y : A) -> (eq : Id A x y) -> (px : P x) -> A {- P y -}.
  pat (A : *) (P : A -> *) (x : A) (px : P x).
    subst A P x [x] (Refl A [x]) px = x {- px -}.

main :R: * = *.
