-- vim: ft=idris

postulate Id : (A : *) -> A -> A -> *.
postulate Refl : (A : *) -> (x : A) -> Id A x x.

subst (A : *) (P : A -> *) (x : A) (y : A) (eq : Id A x y) (px : P x) : P y
    = case (eq) of
        Refl (a : *) (x : A) -> px.
