
  let
    postulate True : Bool
    postulate False : Bool
    postulate Yeah : Foo
    postulate Nope : Foo
    postulate Nothing : Maybe
    postulate Just : (x) -> Maybe
    g 
      [_] (Just True) = Yeah
      [_] (Just False) = Nope
      [_] Nothing = Nope
    main = g (Just True)
  in main
