-- vim: ft=idris

data N : Type where
  Z : N,
  S : (x : N) -> N.

data Vec : N -> Type where
  Nil : Vec Z.

vlen (n : N) (xs : Vec n) : N
  = case xs of Nil =>
      case n of [Z] =>
        n.

main : N
  = vlen Z Nil.

{-

Bug 3v2:
  - `n` in the Nil branch causes unknown variable error
  - caught by the verification typechecker

-}
