-- vim: ft=ttstar

import "../stdlib/prelude.tt"

isZero : Nat -> Bool.
  isZero Z = True,
  (n : Nat)
    isZero (S n) = False.

f : (a : Type) -> (a -> Bool).
  f Bool = not,
  f Nat  = isZero,
  (a : Type)
    f a  = \x:a. False.

main \: Bool = f Bool False.
