-- vim: ft=ttstar

  let
    constructor True : Bool
    constructor False : Bool
    constructor Z : Nat
    constructor S : (_x0) -> Nat
    constructor Even : Tag
    constructor Odd : Tag
    fun 
      [_] Even = (\n. 
        let f 
          [_] Z = True
          [_] (S m) = fun Odd m
        in f n)
      [_] Odd = (\n. 
        let f 
          [_] Z = False
          [_] (S m) = fun Even m
        in f n)
    even = fun Even
    main = even 8
  in main
