-- vim: ft=ttstar

  let
    constructor True : Bool
    constructor False : Bool
    constructor Z : Nat
    constructor S : (_x0) -> Nat
    constructor Even : Tag
    constructor Odd : Tag
    fun 
      fun Even = (\n. 
        let f 
          f Z = True
          f (S m) = fun Odd m
        in f n)
      fun Odd = (\n. 
        let f 
          f Z = False
          f (S m) = fun Even m
        in f n)
    even = fun Even
    main = even 8
  in main
