-- vim: ft=ttstar
  let
    constructor Nat : Type
    constructor Z : Nat
    constructor S : (x) -> Nat
    constructor Bool : Type
    constructor True : Bool
    constructor False : Bool
    not 
      [_] True = False
      [_] False = True
    isZero 
      [_] Z = True
      [_] (S _) = False
    f 
      [_] Bool = not
      [_] Nat = isZero
      [_] _ = (\x. False)
    main = f Bool False
  in main
