-- vim: ft=ttstar

  let
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    constructor Pair : Type
    constructor P : (_x0) -> (_x1) -> Pair
    fst 
      fst (P y) = y
    main = fst (P T)
  in main
