-- vim: ft=ttstar

  let
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    constructor Id : (a) -> (x) -> (y) -> Type
    constructor Refl : (a) -> (x) -> Id a x x
    not 
      not T = F
      not F = T
    notnot 
      notnot T = Refl Bool T
      notnot F = Refl Bool F
    subst 
      subst a P x [_] [_] = (\w. w)
    main = notnot (subst Type (\a. a) Bool Bool (Refl Type Bool) F)
  in main
