-- vim: ft=ttstar

  let
    constructor T : Bool
    constructor F : Bool
    g 
      [_] T = 
        let h 
          [_] F = g F
          [_] T = T
        in h F
      [_] F = T
    main = g T
  in main
