-- vim: ft=ttstar

  let
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    g 
      g T = 
        let h 
          h F = g F
          h T = T
        in h F
      g F = T
    main = g T
  in main
