-- vim: ft=ttstar

  let
    constructor Z : N
    constructor S : (x) -> N
    constructor Nil : Vec
    constructor Cons : (x) -> (xs) -> Vec
    vlen 
      [_] Nil = Z
      [_] (Cons _ ys) = S (vlen ys)
    main = vlen (Cons 3 Nil)
  in main
