-- vim: ft=ttstar

  let
    constructor N : Type
    constructor S : (_x0) -> N
    constructor B : Type
    constructor T : B
    constructor F : B
    isSuc 
      isSuc (S n) = T
      isSuc n = F
  in (\x. isSuc x)
