-- vim: ft=ttstar

  let
    constructor True : Bool
    constructor False : Bool
    constructor Yeah : Foo
    constructor Nope : Foo
    constructor Nothing : Maybe
    constructor Just : (x) -> Maybe
    g 
      g (Just True) = Yeah
      g (Just False) = Nope
      g Nothing = Nope
    main = g (Just True)
  in main
