-- vim: ft=ttstar
  let
    postulate Bool : Type
    postulate T : Bool
    postulate F : Bool
    postulate Unit : Type
    postulate MkUnit : Unit
    not 
       T = F
       F = T
    retTy 
       T = Bool
       F = Unit
    main = not 
      let f 
         F = MkUnit
         T = F
      in f (not F)
  in main
