-- vim: ft=ttstar
  let
    postulate T : Bool
    postulate F : Bool
    postulate MkUnit : Unit
    not 
       T = F
       F = T
    main = not 
      let f 
         F = MkUnit
         T = F
      in f (not F)
  in main
