-- vim: ft=ttstar
  let
    constructor T : Bool
    constructor F : Bool
    constructor MkUnit : Unit
    not 
      [_] T = F
      [_] F = T
    main = not 
      let f 
        [_] F = MkUnit
        [_] T = F
      in f (not F)
  in main
