-- vim: ft=ttstar
  let
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    constructor Unit : Type
    constructor MkUnit : Unit
    not 
       T = F
       F = T
    retTy 
       T = Bool
       F = Unit
    main = not 
      let f 
         F = MkUnit
         T = F
      in f (not F)
  in main
