-- vim: ft=idris
  let
    postulate T : Bool
    postulate F : Bool
    postulate MkUnit : Unit
    not 
      [_] T = F
      [_] F = T
    main = not 
      let f 
        [_] F = MkUnit
        [_] T = F
      in f (not F)
  in main
