-- vim: ft=idris
  let
    postulate N : Type
    postulate S : (_x0) -> N
    postulate B : Type
    postulate T : B
    postulate F : B
    isSuc 
      [_] (S n) = T
      [_] n = F
  in (\x. isSuc x)
