-- vim: ft=ttstar
  let
    postulate N : Type
    postulate Z : N
    postulate S : (_x0) -> N
    postulate B : Type
    postulate T : B
    postulate F : B
    isSuc 
       (S n) = T
       n = F
    main = (\x. isSuc x)
  in main
