-- vim: ft=idris
  let
    postulate B : Type
    postulate T : B
    postulate F : B
    postulate K : Type
    postulate P : (_x0) -> K
    postulate Q : (_x1) -> K
    f 
      [_] (c x) = c
    main = f (P T)
  in main
