-- vim: ft=ttstar
  let
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    constructor Unit : Type
    constructor MkUnit : Unit
    not 
      [_] T = MkUnit
      [_] F = MkUnit
    main = not T
  in main
