-- vim: ft=ttstar
  let
    postulate Bool : Type
    postulate T : Bool
    postulate F : Bool
    postulate Unit : Type
    postulate MkUnit : Unit
    not 
       T = MkUnit
       F = MkUnit
    main = not T
  in main
