-- vim: ft=ttstar
  let
    postulate N : Type
    postulate Z : N
    postulate S : (_x0) -> N
    plus 
      [_] Z m = m
      [_] (S n) m = S (plus n m)
    main = 
      let pred 
        [_] Z = Z
        [_] (S n) = n
      in plus 2 3
  in main
