-- vim: ft=ttstar
  let
    constructor N : Type
    constructor Z : N
    constructor S : (_x0) -> N
    plus 
       Z m = m
       (S n) m = S (plus n m)
    main = 
      let pred 
         Z = Z
         (S n) = n
      in plus 2 3
  in main
