-- vim: ft=ttstar
  let
    constructor T : Bool
    constructor F : Bool
    constructor TB : (x) -> (y) -> TwoBools
    constT = T
    f 
       T = (\x. x)
       F = constT
    main = TB (f T F) (f F)
  in main
