-- vim: ft=ttstar
  let
    postulate T : Bool
    postulate F : Bool
    postulate TB : (x) -> (y) -> TwoBools
    constT = T
    f 
       T = (\x. x)
       F = constT
    main = TB (f T F) (f F)
  in main
