-- vim: ft=idris
  let
    postulate A : T
    postulate B : T
    postulate Op : (x) -> (y) -> T
    constA = A
    apply_RRR = (\f. (\x. f x))
    test1 = apply_RRR (\x. x) B
    test2 = constA
    main = Op test1 test2
  in main
