-- vim: ft=ttstar
  let
    postulate Bool : Type
    postulate T : Bool
    postulate F : Bool
    postulate Id : (a) -> (x) -> (y) -> Type
    postulate Refl : (a) -> (x) -> Id a x x
    not 
       T = F
       F = T
    notnot 
       T = Refl Bool T
       F = Refl Bool F
    subst 
       a p x [_] [_] = (\w. w)
    main = notnot (subst Type (\a. a) Bool Bool (Refl Type Bool) F)
  in main
