-- vim: ft=ttstar
  let
    postulate Tuple : (x) -> (y) -> (z) -> (w) -> Type
    postulate Bool : Type
    postulate T : Bool
    postulate F : Bool
    postulate Mool : Type
    postulate Q : Mool
    postulate W : Mool
    f 
       T = Bool
       F = Mool
       Q = Bool
       W = Mool
    main = Tuple (f T) (f F) (f Q) (f W)
  in main
