-- vim: ft=ttstar
  let
    constructor Tuple : (x) -> (y) -> (z) -> (w) -> Type
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    constructor Mool : Type
    constructor Q : Mool
    constructor W : Mool
    f 
       T = Bool
       F = Mool
       Q = Bool
       W = Mool
    main = Tuple (f T) (f F) (f Q) (f W)
  in main
