-- vim: ft=ttstar
  let
    constructor Tuple : (x) -> (y) -> (z) -> (w) -> Type
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    constructor Mool : Type
    constructor Q : Mool
    constructor W : Mool
    constructor U : Type
    constructor B : U
    constructor M : U
    ty 
       B = Bool
       M = Mool
    f 
       [_] T = Bool
       [_] F = Mool
       [_] Q = Bool
       [_] W = Mool
    main = Tuple (f B T) (f B F) (f M Q) (f M W)
  in main
