-- vim: ft=ttstar
  let
    constructor FZ : Fin
    constructor FS : (x) -> Fin
    embed 
       FZ = FZ
       (FS x) = FS (embed x)
    fsuc = FS
    constructor P : (x) -> (y) -> Pair
    main = P (fsuc (FS FZ)) (embed (FS (FS FZ)))
  in main
