-- vim: ft=ttstar
  let
    constructor N : Type
    constructor Z : N
    constructor S : (_x0) -> N
    constructor Fin : (_x1) -> Type
    constructor FZ : (n) -> Fin (S n)
    constructor FS : (n) -> (x) -> Fin (S n)
    constructor Pair : Type
    constructor P : (x) -> (y) -> Pair
  in P (FS 2 (FS 1 (FZ Z))) (FS 3 (FS 2 (FZ 1)))
