-- vim: ft=ttstar
  let
    constructor Nat : Type
    constructor Z : Nat
    constructor S : (x) -> Nat
    plus 
       Z m = m
       (S n) m = S (plus n m)
    id = (\x. x)
    const = (\x. (\y. x))
    main = 
      let apply 
         f Z = f Z
         f (S x) = f (S x)
      in 
        let
          constructor Q : Nat
          three = 3
        in plus (apply id 2) (apply (const Q) three)
  in main
