-- vim: ft=ttstar
  let
    postulate Z : Nat
    postulate S : (x) -> Nat
    postulate True : Bool
    postulate False : Bool
    even 
       Z = True
       (S n) = 
        let odd 
           Z = False
           (S n) = even n
        in odd n
    main = even 5
  in main
