-- vim: ft=ttstar
  let
    postulate Bool : Type
    postulate T : Bool
    postulate F : Bool
    g 
      [_] T = 
        let h 
          [_] F = g F
          [_] T = T
        in h F
      [_] F = T
    main = g T
  in main
