-- vim: ft=ttstar
  let
    constructor Z : Nat
    constructor S : (x) -> Nat
    constructor True : Bool
    constructor False : Bool
    even 
       Z = True
       (S n) = 
        let odd 
           Z = False
           (S n) = even n
        in odd n
    main = even 5
  in main
