-- vim: ft=ttstar
  let
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    constructor Pair : Type
    constructor P : (x) -> (y) -> Pair
    fst 
      [_] (P l r) = l
    snd 
      [_] (P l r) = r
    and 
      [_] T y = y
      [_] F y = F
    main = and (fst (P T F)) (snd (P F T))
  in main
