-- vim: ft=ttstar
  let
    constructor T : Bool
    constructor F : Bool
    constructor P : (x) -> (y) -> Pair
    fst 
       (P l _) = l
    snd 
       (P _ r) = r
    and 
       T y = y
       F _ = F
    main = and (fst (P T F)) (snd (P F T))
  in main
