-- vim: ft=ttstar
  let
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    constructor Pair : Type
    constructor P : (x) -> (y) -> Pair
    fst 
       (P l r) = l
    snd 
       (P l r) = r
    and 
       T y = y
       F y = F
    main = and (fst (P T F)) (snd (P F T))
  in main
