-- vim: ft=ttstar
  let
    postulate Bool : Type
    postulate T : Bool
    postulate F : Bool
    postulate Pair : Type
    postulate P : (x) -> (y) -> Pair
    fst 
       (P l r) = l
    snd 
       (P l r) = r
    and 
       T y = y
       F y = F
    main = and (fst (P T F)) (snd (P F T))
  in main
