-- vim: ft=ttstar
  let
    constructor Q : Mool
    constructor W : Mool
    constructor T : Bool
    constructor F : Bool
    not 
       T = F
       F = T
    mot 
       Q = W
       W = Q
    invert 
       T = not
       F = mot
    main = invert F Q
  in main
