-- vim: ft=ttstar
  let
    postulate Q : Mool
    postulate W : Mool
    postulate T : Bool
    postulate F : Bool
    not 
       T = F
       F = T
    mot 
       Q = W
       W = Q
    invert 
       T = not
       F = mot
    main = invert F Q
  in main
