-- vim: ft=ttstar
  let
    constructor Z : Nat
    constructor S : (n) -> Nat
    constructor VNil : Vec
    constructor VCons : (xs) -> Vec
    vlen 
       VNil = Z
       (VCons xs) = S (vlen xs)
    testVec = VCons (VCons VNil)
    main = vlen testVec
  in main
