-- vim: ft=idris
  let
    postulate Z : Nat
    postulate S : (n) -> Nat
    postulate VNil : Vec
    postulate VCons : (xs) -> Vec
    vlen 
      [_] VNil = Z
      [_] (VCons xs) = S (vlen xs)
    testVec = VCons (VCons VNil)
    main = vlen testVec
  in main
