-- vim: ft=ttstar
  let
    constructor Bool : Type
    constructor T : Bool
    constructor F : Bool
    constructor List : Type
    constructor Nil : List
    constructor Cons : (x) -> (xs) -> List
  in Cons F (Cons T (Cons F (Cons T Nil)))
