-- vim: ft=ttstar
  let
    postulate True : Bool
    postulate False : Bool
    postulate Z : Nat
    postulate S : (_x0) -> Nat
    postulate Even : Tag
    postulate Odd : Tag
    fun = 
      let
        even 
           Z = True
           (S n) = fun Odd n
        odd 
           Z = False
           (S m) = fun Even m
      in (\tag. 
        let f 
           Even = even
           Odd = odd
        in f tag)
    even = fun Even
    main = even 8
  in main
