-- vim: ft=ttstar
  let
    constructor True : Bool
    constructor False : Bool
    constructor Z : Nat
    constructor S : (_x0) -> Nat
    constructor Even : Tag
    constructor Odd : Tag
    fun 
       Even = (\n. 
        let f 
           Z = True
           (S m) = fun Odd m
        in f n)
       Odd = (\n. 
        let f 
           Z = False
           (S m) = fun Even m
        in f n)
    even = fun Even
    main = even 8
  in main
