-- vim: ft=idris
  let
    postulate True : Bool
    postulate False : Bool
    postulate Z : Nat
    postulate S : (_x0) -> Nat
    postulate Even : Tag
    postulate Odd : Tag
    fun = 
      let
        even 
          [_] Z = True
          [_] (S n) = fun Odd n
        odd 
          [_] Z = False
          [_] (S m) = fun Even m
      in (\tag. 
        let f 
          [_] Even = even
          [_] Odd = odd
        in f tag)
    even = fun Even
    main = even 8
  in main
