-- vim: ft=ttstar
  let
    constructor True : Bool
    constructor False : Bool
    constructor Z : Nat
    constructor S : (_x0) -> Nat
    constructor Even : Tag
    constructor Odd : Tag
    fun = 
      let
        even 
           Z = True
           (S n) = fun Odd n
        odd 
           Z = False
           (S m) = fun Even m
      in (\tag. 
        let f 
           Even = even
           Odd = odd
        in f tag)
    even = fun Even
    main = even 8
  in main
