-- vim: ft=ttstar
  let
    postulate TyEq : (_x0) -> (_x1) -> Type
    postulate Refl : (a) -> TyEq a a
    coerce 
      [_] a [_] ({_} [_]) = (\x. x)
    sym 
      [_] a [_] ({_} [_]) = Refl a
    loopy 
      [_] a b pf = 
        let w = (\x. coerce a (_x9) -> b pf x x)
        in w (coerce (_x10) -> b a (sym a (_x11) -> b pf) w)
    main = loopy Type Type
  in main
