-- vim: ft=ttstar
  let
    postulate True : Bool
    postulate False : Bool
    postulate Yeah : Foo
    postulate Nope : Foo
    postulate Nothing : Maybe
    postulate Just : (x) -> Maybe
    g 
       (Just True) = Yeah
       (Just False) = Nope
       Nothing = Nope
    main = g (Just True)
  in main
