-- vim: ft=idris
  let
    postulate N : Type
    postulate Z : N
    postulate S : (x) -> N
    postulate Vec : (_x0) -> (_x1) -> Type
    postulate Nil : (a) -> Vec Z a
    postulate Cons : (a) -> (n) -> (x) -> (xs) -> Vec (S n) a
    vlen 
      [_] [_] (Nil [_]) = Z
      [_] ([_] m) (Cons [_] [_] y ys) = S (vlen m ys)
    main = vlen 1 (Cons N Z 3 (Nil N))
  in main
