-- vim: ft=ttstar
  let
    postulate Z : N
    postulate S : (x) -> N
    postulate Nil : Vec
    postulate Cons : (x) -> (xs) -> Vec
    vlen 
      [_] Nil = Z
      [_] (Cons _ ys) = S (vlen ys)
    main = vlen (Cons 3 Nil)
  in main
