-- vim: ft=ttstar
  let
    postulate Nat : Type
    postulate Z : Nat
    postulate S : (x) -> Nat
    postulate Bool : Type
    postulate True : Bool
    postulate False : Bool
    not 
       True = False
       False = True
    isZero 
       Z = True
       (S _) = False
    f 
       Bool = not
       Nat = isZero
       _ = (\x. False)
    main = f Bool False
  in main
