-- vim: ft=ttstar
  let
    constructor Nat : Type
    constructor Z : Nat
    constructor S : (x) -> Nat
    constructor Bool : Type
    constructor True : Bool
    constructor False : Bool
    not 
       True = False
       False = True
    isZero 
       Z = True
       (S _) = False
    f 
       Bool = not
       Nat = isZero
       _ = (\x. False)
    main = f Bool False
  in main
