-- vim: ft=ttstar
  let
    constructor N : Type
    constructor Z : N
    constructor S : (x) -> N
    constructor Vec : (_x0) -> (_x1) -> Type
    constructor Nil : (a) -> Vec Z a
    constructor Cons : (a) -> (n) -> (x) -> (xs) -> Vec (S n) a
  in Cons N Z 4 (Nil N)
