-- vim: ft=ttstar
  let
    postulate N : Type
    postulate Z : N
    postulate S : (x) -> N
    postulate Vec : (_x0) -> (_x1) -> Type
    postulate Nil : (a) -> Vec Z a
    postulate Cons : (a) -> (n) -> (x) -> (xs) -> Vec (S n) a
    plus 
      [_] Z n = n
      [_] (S m) n = S (plus m n)
    append 
      [_] a {_} n (Nil [_]) ys = ys
      [_] a ({_} m) n (Cons [_] [_] x xs) ys = Cons a (plus m n) x (append a m n xs ys)
    main = append N Z 1 (Nil N) (Cons N Z 4 (Nil N))
  in main
