-- vim: ft=ttstar
  let
    postulate Just : (x) -> Maybe
    postulate Nothing : Maybe
    postulate Bool : Type
    postulate False : Bool
    f 
       (Just b) = b
       Nothing = Bool
    main = f (Just False)
  in main
