-- vim: ft=ttstar
  let
    postulate Void : Type
    constructor Maybe : (_x0) -> Type
    constructor Just : (a) -> (x) -> Maybe a
    constructor Nothing : (a) -> Maybe a
    constructor Bool : Type
    constructor True : Bool
    constructor False : Bool
    retTy 
      [_] (Just [_] t) = Bool
      [_] (Nothing [_]) = Type
    f 
      [_] (Just [_] b) = b
      [_] (Nothing [_]) = Bool
    main = f (Just Bool False)
  in main
