-- vim: ft=ttstar
  let
    constructor Void : Type
    constructor Maybe : (_x0) -> Type
    constructor Just : (a) -> (x) -> Maybe a
    constructor Nothing : (a) -> Maybe a
    constructor Bool : Type
    constructor True : Bool
    constructor False : Bool
    retTy 
       (Just [_] t) = Bool
       (Nothing [_]) = Type
    f 
       (Just [_] b) = b
       (Nothing [_]) = Bool
    main = f (Just Bool False)
  in main
